.long-container {
  height: 150vh;
  max-width: 100%; // prevent container from overgrowing the viewport and breaking `IntersectionObserver` on smaller screens

  .intersection-box {
    border: 1px dotted black;
    padding: 50px 16px;
    text-align: center;
  }
}

.scroll-into-view {
  border: 1px dotted black;
  padding: 50px 16px;
  text-align: center;

  button {
    border-radius: 4px;
    padding: .5em;
    background-color: orangered;
    color: white;
  }
}

// prevent copy button from overlapping code
pre {
  padding-right: 60px !important;
}

.not-found {
  padding: 30px;

  a {
    color: white;

    &:hover {
      color: lightgrey;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
}
