<DocsHero/>

<div class="docs-container long-container">
  <DocsDemo as |demo|>
    <demo.example @name="did-intersect.hbs">
      <p {{did-intersect this.didIntersect}} class="intersection-box">Number of times this box has intersected the screen: {{this.numIntersections}}</p>
    </demo.example>

    {{demo.snippet "did-intersect.hbs"}}
  </DocsDemo>
</div>