<DocsHero/>

<div class="docs-container">
  <DocsDemo as |demo|>
    <demo.example @name="my-demo.hbs">
      <p>Make sure to read up on the DocsDemo component before building out this page.</p>
    </demo.example>

    {{demo.snippet "my-demo.hbs"}}
  </DocsDemo>
</div>