name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request: {}

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: "Tests"
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v3
      - name: Install Node
        uses: volta-cli/action@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Lint
        run: pnpm lint
        working-directory: ember-scroll-modifiers
      - name: Run Tests
        run: pnpm test:ember

  floating:
    name: "Floating Dependencies"
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v3
      - name: Install Node
        uses: volta-cli/action@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10
      - name: Install Dependencies
        run: pnpm install --no-lockfile
      - name: Run Tests
        run: pnpm test:ember

  try-scenarios:
    name: ${{ matrix.try-scenario }}
    runs-on: ubuntu-latest
    needs: "test"
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        try-scenario:
          - ember-lts-4.4
          - ember-lts-4.8
          - ember-lts-4.12
          - ember-lts-5.4
          - ember-lts-5.8
          - ember-lts-5.12
          - ember-test-helpers-v3
          - ember-release
          - embroider-safe
        experimental: [false]
        include:
          - try-scenario: ember-beta
            experimental: true
          - try-scenario: ember-canary
            experimental: true
          - try-scenario: embroider-optimized
            experimental: true

    steps:
      - uses: actions/checkout@v3
      - name: Install Node
        uses: volta-cli/action@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Run Tests
        run: ./node_modules/.bin/ember try:one ${{ matrix.try-scenario }}
        working-directory: demo-app
